<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${list}">LIST</h2>

<div>
    <h2>링트 Test</h2>
    <h4><a th:href="|@{/view(keyword=${list}, name=suhong)}|">Link</a></h4>
</div>

<div th:with="num1 = ${10}, num2 = ${20}">
    <h1>[[${num1 + num2}]]</h1>
</div>

<ul>
    <li th:each="str,status: ${list}">[[${status.index}]] ------- [[${str}]]</li>
</ul>
<ul>
    <th:block th:each="str, status: ${list}">
        <li th:text="|${str} ====|"></li>
    </th:block>
</ul>
<ul>
    <li th:each="str, status:${list}">[[${status.count}]]</li>
</ul>
</body>
</html>